.container {
	height: 100vh;
	line-height: 2em;
	font-size: 1.2em;
	/* border: 1px solid white; */
	margin: 5em;
	display: flex;
	height: 30em;
	margin: 2em;
	overflow-x: hidden;
}

.titlesec {
	height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vid {
	display: flex;
	flex-direction: column;
	width: 50em;
	align-items: center;
	justify-content: center;
	transition: transform 400ms ease-in;
	transform: translateX(-100%);
}
.text {
	font-size: 1.2em;
	line-height: 2em;
	width: 50em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1em;
	transition: transform 400ms ease-in;
	transform: translateX(100%);
}

.text.slideIn,
.vid.slideIn {
	transform: translateX(0);
}

.title {
	transition: opacity 500ms ease-in-out;
	opacity: 0;
	font-size: 3em;
	width: 30em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title.appear {
	opacity: 1;
}
