.summaryText {
	line-height: 2em;
	font-size: 1.2em;
	padding: 2em;
	opacity: 0;
	transition: opacity 250ms ease-in;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logos.appear,
.summaryText.appear {
	line-height: 2em;
	font-size: 1.2em;
	padding: 2em;
	opacity: 1;
}

.list {
	list-style-type: none;
}

.logos {
	height: 30vh;
	width: 80vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 2em;
	margin: 1em;
	opacity: 0;
	transition: opacity 500ms ease-in-out;
}
