.navbar {
	overflow: hidden;
	display: flex;
	background: none;
	/* border-bottom: 3px black solid; */
	background-color: #13171a;
	justify-content: center;
	align-items: center;
	height: 3em;
	font-size: 1.5em;
	font-weight: 600;
	justify-content: space-evenly;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}

.navbar a {
	display: block;
	flex-direction: row;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.navbar a:hover {
	text-decoration: underline;
}
